---
layout: home
title: Home
notitle: true
---
<!-- <div class="jumbotron">
  <p>
    The <b>Intelligent Sensing, Diagnostic and Prognostic Research Lab</b> at <b>University of British Columbia Okanagan</b> does all sorts of
    research. Here is a place where we tell you exactly what that is!
  </p>
</div> -->

<!-- 
<h2><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</h2>
<ul class="news list-unstyled">
{% for post in site.posts limit: site.front_page_news %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="bloglink">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.url }}/blog/">Older posts&hellip;</a></p>
{% endif %} -->

  {% for post in site.posts %}
    <article class="notepad-index-post post row">
        <div class="small-12 medium-3 large-2 columns datetime">
            <span class="notepad-post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">
                    <span class="day">
                        {{ post.date | date: "%d" }}
                    </span>
                    <span class="month-year">
                        {{ post.date | date: "%B %Y" }}
                    </span>
                </time>
            </span>
        </div>
        <div class="small-12 medium-9 large-10 columns">
            <header class="notepad-post-header">
                <h3 class="notepad-post-title">
                    <a href="{{ site.url }}{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
            </header>
            <section class="notepad-post-excerpt">
                <p>{{ post.content | strip_html | truncatewords:100 }}</p>
            </section>
            
                <div class="notepad-index-post-tags">
                {% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} category">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
                    
                </div>
            
        </div>
    </article>
  {% endfor %}  


